a:link{
	background-color: red;
}
a:visited{
	background-color:blue;
}
input:focus {
	background-color:yellow;
}
.note {
		display:none;
	}
	input:focus + .note{
		display:block;

	}
}
#login:hover {
	background-color:skyblue;
}

a:active {
	background-color:orange;
}

p::first-line {
	background-color: yellow;
}

p::first-letter {
	font-size:32px;
}

p::before {
	content: "Easy Easy";
	font-size: 24px;
}

p::after {
	content:"ending...";
}

*::selection {
	color:pink;
	background-color:green;
}
nav {
	background-color:pink;
}

#head {
	font-size: 45px;
}


