nav ul {
	list-style-type: none
	padding:0;
	/*float:right;*/
	text-align: right;

}



ul li {
	display:inline-block;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:15px;
	position:static;

    
}

ul li:hover {
	background-color:skyblue;
}

 a, a:link {
	color:black;
	text-decoration: none;

}

div {
	background-color: blue;
	padding:20px;
	text-align: center;
	border: 2px solid #5D6063;
	border-radius:8px;
	width: 200px;
	float:right;
}

button {
	background-color:skyblue ;
}

p {
	padding: 30px 30px;
	border:2px solid black;
	width:500px;
	background-color: orange;
	margin-top: 50px;
}



 
