* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}




.page {
	width: 100%;
}

.section {
	width: 100%;
	height: 300px;
	padding:0 15px;
}

.menu {
	background-color: #5995da;
	height:80px;
}

.header {
	background-color: #b2d6ff;
}

.content {
	background-color: #eaedf0;
	height: 600px;
}

.sign-up {
	background-color: #d6e9fe;
}


.feature-1 {
	background-color: #f5cf2e;
}

.feature-2 {
	background-color: #f09a9d;
}

.feature-3 {
	background-color: #c8c6fa;
}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.page {
		display:flex;
		flex-wrap: wrap;
	}

	.sign-up, .feature-1, .feature-2, .feature-3  {
		width:50%;
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.sign-up {
		width:100%;
	}

	.feature-1, 
	.feature-2,
	.feature-3 {
		width: 33.33%
	}
}