* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}



@media only screen and (max-width: 400px) {
	body { 
		background-color: #ff5546; 
	}

	.flex-container {
		display:flex;
		flex-wrap: wrap;
	}

	.flex-container div {
		background-color: gray;
		height: 100px;
		border:1px solid black;
		width:100%;
	}
}

/*tablet style*/

@media only screen and (min-width:401px) and (max-width:960px)
{
	body {
	 background-color: #ffff66; 
	}

	.flex-container {
		display:flex;
		flex-wrap: wrap;
	}

	.flex-container div {
		background-color: gray;
		height: 100px;
		border:1px solid black;
		width:50%;
	}
}

/*destop style*/

@media only screen and (min-width:961px)
{
	body { background-color: #1e84d4; }

	.flex-container {
		display:flex;
		flex-wrap: wrap;
	}

	.flex-container div {
		background-color: gray;
		height: 100px;
		border:1px solid black;
		width:25%;
	}
}  

