* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.pages {
	width: 900px;
	margin: 0 auto;
}

.menu {
	height: 100px;
	background-color: #b2d6ff;
}

.sidebar {
	height: 300px;
	background-color:#f09a9d;
	width:200px;
	float: left;

}

.content {
	height: 500px;
	background-color: #f5cf8e;
	width:650px;
	float:left;
}

.footer {
	height:200px;
	background-color: #D6E9FE;
	clear:both;
}

.testimonials {
	background-color:#C42847;
	height:500px;
	float:left

}