* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}




.flex-container {
	background-color: skyblue;
	display:flex;
	flex-wrap: wrap;
}

.flex-container div {
	background-color: #faf9f9;
	width: 25%;
	/*margin: 10px;*/
	border:1px solid red;
	text-align:center;
	height:100px;

}